{% extends 'base.html' %}
{% load static %}

{% block content %}
{% url 'loginSuccessView' as loginSuccessView_url %}
<title>Login</title>

<p>Please fill the next form:</p>
<fieldset>

<form  method="POST" class="myForm" action="{% url 'login' %}">
    {% csrf_token %}
    <legend>Credentials:</legend>
        <div>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </div>

        <div>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </div>

        <div>
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
</form>
</fieldset>

<style>
    .myForm {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 0.8em;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    .myForm * {
        box-sizing: border-box;
    }
</style>
{% endblock %}

<!--
OLD VERSION
templates/registration/login.html
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
-->
