{% extends 'base.html' %}
{% block content %}

<title>Contact</title>
<div class='row'>
    <div class='col'>
    <h1>CONTACT</h1>
        <p>Feel free to contact us:</p>
        <ul>
            <li>victor.martin.fernandez@alumnos.upm.es></li>
            <li>lf.arias@alumnos.upm.es</li>
            <li>cn.forero@alumnos.upm.es</li>
            <li>o.mendezv@alumnos.upm.es</li>
            <li>ge.buonomo@alumnos.upm.es</li>
            <li>rubendavid.brito.mendez@alumnos.upm.es</li>
        </ul>
    </div>
</div>

{% endblock content %}