{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}

{% url 'home' as home_url %}

<title>Post Idea</title>
<p>Please fill the next form to share your idea!!:</p>
<form action='{{ home_url }}' method="GET" class="myForm">
    {% csrf_token %}
    <fieldset>
        <div class="card">

            <h5 class="card-header">Idea Information</h5>

            <div class="card-body">
                <div class="form-group">
                    <label>Title</label>
                    <input name="usrname" type="text" class="form-control" placeholder="Insert Title">
                </div>

                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" ows="4" cols="50" name="comment" form="usrform"></textarea>
                </div>

                <div class="form-group">
                    <label>Price</label>
                    <input name="usrname" type="number" class="form-control" placeholder="Insert Price">
                </div>

                <!--
                <div class="form-group">
                    <label>Category</label>
                    <select name="Category" class="form-control">
                        <option value="Technology">Technology</option>
                        <option value="Videogames">Videogames</option>
                        <option value="Travels">Travels</option>
                        <option value="Food">Food</option>
                    </select>
                </div>


                <div class="form-group">
                    <label>Date</label>
                    <input type="date" name="trip-start" value="2019-11-19" min="2019-11-10" max="2022-12-31" class="form-control">
                </div>
                -->

                <button type="submit" class="btn btn-primary float-right">Post Idea</button>
            </div>
        </div>

    </fieldset>
</form>

<style>
    .myForm {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 0.8em;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .myForm * {
        box-sizing: border-box;
    }
</style>

<!--
<div class='row'>
    <div class='col'>
        <p>{{ content }}</p>
        <h1>Fill Idea</h1>
    </div>
</div> -->

{% endblock content %}