{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block content %}

{% url 'supportIdeaView' as supportIdeaView_url %}

<title>Japan Travel</title>

<div class='row'>
    <div class='col'>
        <p>{{ content }}</p>
    </div>
</div>

<style>
div.idea {
  border: 1px solid gray;
  padding: 8px;
}

h1.idea {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

p.idea {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

a.idea {
  text-decoration: none;
  color: #008CBA;
}
</style>
</head>
<body>
    <div class="idea">
      <h1 class="idea">Japan Travel</h1>
      <p class="idea">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum."</p>
        <td><input type="button" value="Support Idea!!" onclick="location.href = {% url 'supportIdeaView' %}"></td>
    </div>
</body>

{% endblock %}