{% extends 'base.html' %}
{% load static %}
{% block content %}
{% url 'loginSuccessView' as loginSuccessView_url %}
<title>Login</title>

<p>Please fill the next form:</p>
<form action='{{ loginSuccessView_url }}' method="GET" class="myForm"> {% csrf_token %}
    <fieldset>
        <legend>Credentials:</legend>

        Email:<br>
        <input type="text" name="email"><br>

        Password:<br>
        <input type="text" name="password"><br><br>

        <input type="submit" value="Submit">
    </fieldset>
</form>

<style>
    .myForm {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 0.8em;
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    .myForm * {
        box-sizing: border-box;
    }
</style>
{% endblock %}

<!--
OLD VERSION
templates/registration/login.html
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
-->
